{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    <title>{{item.title}} Online-Shop</title>
{% endblock %}
{% block main %}
        <a href="/book/{{ item.alias }}/" class="item">
            <img src="{{ item.image.url }}" alt="Здесь должна была быть картинка">
        </a>
    <div class="mini-conteiner">
        <span class="title">{{ item.title }}</span>
        <a href="/author/{{ item.author.alias }}/">
        <span class="auth">{{ item.author }}</span>
        </a>
        <span class="price">{{ item.price }} рублей</span>
        <span class="descr">{{ item.description }}</span>
        {% if buy %}
        <div class="spp">
            <a href="/buy/">
                <div class="buy">Заказать</div>
            </a>
        </div>
        {% else %}
            <div class="log_to_buy">Войдите, чтобы заказать эту книгу.</div>
        {% endif %}
        <!-- <span class="comments">Коментарии:</span>
        {% for comment in comments %}
            <p>{{ comment }}</p>
        {% endfor %}
        <form method="POST">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save</button>
        </form> -->
    </div>
{% endblock %}